
.transition-who {
    display: flex;
	position: fixed;
	width: 100%;
	height: 110vh;
	background-color: #000000;
}

.colonne-1-who {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #757272;
}
.colonne-2-who {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #ffffff;
    margin-left: 25vw;
}
.colonne-3-who {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #757272;
    margin-left: 50vw;
}
.colonne-4-who {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #ffffff;
    margin-left: 75vw;
}