.transition-home {
    display: flex;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #000000;
}

.colonne-1-home {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #757272;
}
.colonne-2-home {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #ffffff;
    margin-left: 25vw;
}
.colonne-3-home {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #757272;
    margin-left: 50vw;
}
.colonne-4-home {
    position: absolute;
    width: 25%;
    height: 100vh;
    background: #ffffff;
    margin-left: 75vw;
}