
@mixin midFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  width: 100%;
  height: 82vh;
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
  grid-template-rows: 1fr;
  grid-template-areas: "1" "2" "3";
  background-color: #f8f8f8;
}

/****************** LEFT SIDE ******************************/

.leftSideTitle {
  height: 100%;
  width: 100%;
  grid-area: "1";
  font-family: "Ogg", 'Sawarabi Gothic', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
         "1"
         "2"
         "3"
         "4"
  ;
}

.left-1 {
grid-template-areas: "1";
display: flex;
justify-content: flex-end;
align-items: flex-start;

 p {
  position: absolute;
  overflow: hidden;
  left: 15%;
  height: 26%;
  width: 60%;

  span {
    font-size: clamp(20px, 10vw, 150px);
    margin-left: 5%;
    transition: transform 100ms ease;
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 4.4s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
}

.left-2 {
grid-template-areas: "2";
display: flex;
justify-content: flex-end;
align-items: center;

img {
  position: absolute;
  z-index: 10;
}

p {
  position: absolute;
  overflow: hidden;
  left: 32%;
  height: 26%;
  width: 60%;

  span {
    margin-left: 5%;
    font-size: clamp(20px, 10vw, 150px);
    transition: transform 100ms ease;
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 4s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
} 

.left-3 {
grid-template-areas: "3";
display: flex;
justify-content: flex-end;
align-items: center;

p {
  position: absolute;
  overflow: hidden;
  left: 18%;
  height: 26%;
  width: 70%;

  span {
    font-size: clamp(20px, 10vw, 150px);
    margin-left: 10%;
    transition: transform 100ms ease;
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 3.6s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
}

.left-4 {
grid-template-areas: "4";
display: flex;
justify-content: flex-end;
align-items: center;

p {
  position: absolute;
  overflow: hidden;
  left: 35%;
  width: 60%;
  height: 26%;
  
  span {
    font-size: clamp(30px, 10vw, 150px);
    margin-left: 5%;
    transition: transform 100ms ease;
  }
}
 .text {
  display: block;
  animation: textanimationX 1.2s 3.2s cubic-bezier(0.77, 0, 0.175, 1) backwards ;
 }
}

.leftSideTitle img {
  position: absolute;
  width: 300px;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  z-index: -1;
  filter: grayscale(1);
}

@keyframes textanimationX {
0% {
  transform: translateY(700px) rotate(70deg);
}
100% {
    transform: none;
}}

/****************  MIDDLE  ***************/

.middle {
  grid-area: "2";
  width: 100%;
  height: 100%;
}

.haut-middle {
  width: 100%;
  height: 50%;
  @include midFlex();
  font-family: 'Poiret One', cursive, sans-serif;

  .blocks {
      display: flex;
      font-size: 140px;
      color: #333;
      position: absolute;
  }
}
//////////////////////   RIGHT SIDE /////////////////@function
.rightSideTitle{
  img {
    mix-blend-mode:multiply;
    margin-left: 30%;
    margin-top: 10%;
    animation: avatar 1.2s 4.7s cubic-bezier(0.77, 0, 0.175, 1) backwards;
    transition: transform 100ms ease;
  }
}
@keyframes avatar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//////////   --- MEDIA QUERIES --- /////////
@media screen and (max-width: 850px) {
.container-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  @include midFlex();
  overflow: hidden;

  .left-1 {
    p {
      width: 75%;
      @include midFlex(); 
    }
  }
  .left-2 {
    @include midFlex();
    p {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center; 

    }
  }
  .left-3 {
    @include midFlex();
    p {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center; 

      span {
        margin-right: 10%;
      }
    }
  }
  .left-4 {
    @include midFlex();
    p {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center; 

      span {
        width: 100%;
        margin-right: 10%;
      }
    }
  }

  .text {
    font-size: clamp(55px, 10vw, 100px);
  }
// }
/// --- DISPLAY NONE --- ///
.middle {
  display: none;
}
.rightSideTitle {
  display: none;
}
}}
@media screen and (max-width: 800px) {
  .container-title {
    height: 77vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
