
@mixin midFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  width: 100%;
  height: 82vh;
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
  grid-template-rows: 1fr;
  grid-template-areas: "1" "2" "3";
  // background-color: #f5efdf;
  background-color: #f8f8f8;
  // background-color: #cecece;
}

/****************** LEFT SIDE ******************************/

.leftSideTitle {
  height: 100%;
  width: 100%;
  grid-area: "1";
  font-family: "Ogg", 'Sawarabi Gothic', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
         "1"
         "2"
         "3"
         "4"
  ;
}

.left-1 {
// background: grey;
grid-template-areas: "1";
display: flex;
justify-content: flex-end;
align-items: flex-start;

 p {
  position: absolute;
  overflow: hidden;
  left: 19%;
  height: 22%;

  span {
    font-size: clamp(20px, 11vw, 140px);
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 5.2s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
}

.left-2 {
// background: pink;
grid-template-areas: "2";
display: flex;
justify-content: flex-end;
align-items: center;

p {
  position: absolute;
  overflow: hidden;
  left: 35%;
  height: 22%;

  span {
    font-size: clamp(20px, 11vw, 140px);
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 4.8s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
} 

.left-3 {
// background: rgb(134, 252, 66);
grid-template-areas: "3";
display: flex;
justify-content: flex-end;
align-items: center;

p {
  position: absolute;
  overflow: hidden;
  left: 20%;
  height: 22%;

  span {
    font-size: clamp(20px, 11vw, 140px);
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 4.4s cubic-bezier(0.77, 0, 0.175, 1) backwards;
 }
}

.left-4 {
// background: rgb(64, 179, 255);
grid-template-areas: "4";
display: flex;
justify-content: flex-end;
align-items: center;

p {
  position: absolute;
  overflow: hidden;
  left: 38%;
  height: 22%;

  span {
    font-size: clamp(20px, 11vw, 140px);
  }
 }

 .text {
  display: block;
  animation: textanimationX 1.2s 4s cubic-bezier(0.77, 0, 0.175, 1) backwards ;
 }
}


// @keyframes textanimationXmoins {
//   0% {
//     transform: translateY(-600px) rotate(60deg);
//   }
//   100% {
//       transform: none;
//   }
// }
@keyframes textanimationX {
0% {
  transform: translateY(600px) rotate(60deg);
}
100% {
    transform: none;
}
}





/****************  MIDDLE  ***************/

.middle {
  grid-area: "2";
  width: 100%;
  height: 100%;
  // background-color: aquamarine;
}

.haut-middle {
  width: 100%;
  height: 50%;
  @include midFlex();
  font-family: 'Poiret One', cursive, sans-serif;

  .blocks {
      display: flex;
      font-size: 140px;
      color: #333;
      position: absolute;
  }
}



//////////   --- MEDIA QUERIES --- /////////

@media screen and (max-width: 850px) {

.container-title {
  // background: indianred;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  @include midFlex();


  p {
    @include midFlex();
    width: 57%;
  }

  .text {
    // font-size: 60px;
    font-size: clamp(55px, 10vw, 100px);
  }

}

/// --- DISPLAY NONE --- ///
.middle {
  display: none;
}
.rightSideTitle {
  display: none;
}
}
