.bar-who-container {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-who {
    height: 2px;
    width: 80%;
    background-color: #333;
}

@media screen and (max-width: 800px) {
    .bar-who {
        height: 2px;
    }
}