@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-container {
    height: 50vh;
    width: 100%;
    background:chartreuse;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
}


.title-cv-container {
    background-color: cyan;
    grid-area: "1";
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: "Ogg",'Sawarabi Gothic', sans-serif;
}

.title-cv {
    background: darkgoldenrod;
    position: relative;
    height: 70%;
    margin-left: 5%;

  }
  .title-cv span {
    // background-color: #cfa4a4;
    // font-size: clamp(70px, 11vw, 150px);
    font-size:clamp(50px, 9vw, 140px);
    transition: 0.5s;
    font-weight: 100;
    will-change: transform;
    display: inline-block;
  }

  .span-container-cv {
    overflow: hidden;
  }

  .s1-cv span {
    // overflow: hidden;
    transform-origin: bottom;
    animation: apparition 1.8s 2.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
  }

  .s2-cv span {
    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);
  }
  .s2-cv {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .title-cv:hover .s1-cv span {
    transform: translateY(-100%) rotateX(-90deg);
  }
  .title-cv:hover .s2-cv span {
    transform: translateY(0%) rotateX(0deg);
  }

  ////// LINK CV ---

  .cv-link-container {
      grid-area: "2";
      background: crimson;
  }
