
@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation {
    height: 90vh;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 1fr;
    background: rgb(143, 171, 223);
    grid-template-areas: "1" "2";
}


      /****** LEFT SIDE *******/
    .image-presentation {
        @include midFlex();
        grid-area: "1";
        // background: coral;

            .box-presentation {
                border: 2px solid #333;
                width: 70%;
                height: 70%;
                background: cornflowerblue;
                background-image: url(../../Pictures/maphoto.jpg);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                border-radius: 30%;
            }
    }
  

     /******* RIGHT SIDE ******/
    .text-presentation {
        font-family: 'Poiret One', cursive;
        grid-area: "2";
        // background: cyan;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .text-pres-container {
            // background: darkcyan;
            height: 30%;
            width: 100%;
            display: flex;

            .text {
                // background: cornsilk;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 18px;
                width: 100%;
                overflow: hidden;
                font-weight: 600;
                font-size: 18px;
            }
            .text > p {
                margin-left: 0.5rem;
                overflow: hidden;
            }
            .text:nth-child(2) {
                // background: rgb(184, 172, 127);
                display: flex;
            }
            .text:nth-child(3) {
                // background: rgb(126, 125, 121);
                display: flex;
            }
        }
    }



