
@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation {
    height: 102vh;
    width: 100%;
    // background: #ebc5c5;
    font-family: 'Sawarabi Gothic', sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr;
    grid-template-areas: "1" 
                         "2";
}

// ----- TITLE ABOUT ------- //

.title-about-presentation {
    // background-color: cyan;
    grid-area: "1";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "Ogg",'Sawarabi Gothic', sans-serif;
}

.title-about {
    // background: darkgoldenrod;
    position: relative;
    height: 70%;
    margin-left: 5%;

  }
  .title-about span {
    // background-color: #cfa4a4;
    // font-size: clamp(70px, 11vw, 150px);
    font-size:clamp(50px, 9vw, 140px);
    transition: 0.5s;
    font-weight: 100;
    will-change: transform;
    display: inline-block;
  }

  .span-container-about {
    overflow: hidden;
  }

  .s1-about span {
    // overflow: hidden;
    transform-origin: bottom;
    animation: apparition 1.8s 2.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
  }

  .s2-about span {
    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);
  }
  .s2-about {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .title-about:hover .s1-about span {
    transform: translateY(-100%) rotateX(-90deg);
  }
  .title-about:hover .s2-about span {
    transform: translateY(0%) rotateX(0deg);
  }


// ----- TEXT PART ABOUT -----

.text-about-presentation {
    grid-area: "2";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:5fr 6fr 6fr ;
    grid-template-areas: "1" 
                         "2" 
                         "3";
    // background: cyan;
    // @include midFlex();

    .first-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        grid-area: "1";
        font-family: "Roboto";

        font-size: clamp(20px, 2.3vw, 60px);
        // background-color: darkgray;

        p {
            margin-right: 4%;
            overflow: hidden;

            .span-first-text-1 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 3.1s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
            .span-first-text-2 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 3.3s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
            .span-first-text-3 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 3.5s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
        }
    }

    .second-text {
        grid-area: "2";
        font-family: "Roboto";
        font-size: clamp(20px, 2.3vw, 60px);
        // background: darkkhaki;
        @include midFlex();
        flex-wrap: wrap;
        flex-direction: column;

        p {
            overflow: hidden;

            .span-second-text-1 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 3.7s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
            .span-second-text-2 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 3.9s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
        }
    }
    .third-text {
        grid-area: "3";
        font-family: "Roboto";
        font-size: clamp(20px, 2.3vw, 60px);
        // background: darksalmon;

        p {
            margin-left: 5%;
            overflow: hidden;

            .span-third-text-1 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 4.1s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
            .span-third-text-2 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 4.3s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
            .span-third-text-3 {
                display: block;
                // background: darkgoldenrod;
                animation: apparition 1.9s 4.5s cubic-bezier(0.77, 0, 0.220, 1) backwards;
            }
        }
    }
}

@keyframes apparition {
    0% {
        transform: translate(0,130%);
      }
    100% {
        transform: translate(0,0);
      }
}

/////////// MEDIA QUERIES //////////@include

@media screen and (max-width: 800px) {
    .first-text {
        display: flex;
        flex-direction: column;
        background:chartreuse;
        font-size: 10vw;
    }
}