
@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills-container {
    // height: 50vh;
    width: 100%;
    @include midFlex();
    background-color: rosybrown;
    // overflow: hidden;
    // background: #8978ce;
    // color: #fff;
    // perspective: 1000px;
    // text-align: center;
}