

.transition-effect{
    position: absolute;
    z-index: 1000000000000000;
    background-color: #4b463d;
    top: 0;
    width: 100%;
    height: 25vh;
}
.transition-effect1{
    position: absolute;
    z-index: 1000000000000000;
    background-color: #80683a;
    top: 0;
    width: 100%;
    height: 25vh;
    margin-top: 25vh;
}
.transition-effect2{
    position: absolute;
    z-index: 1000000000000000;
    background-color: #aa863d;
    top: 0;
    width: 100%;
    height: 25vh;
    margin-top: 50vh;
}
.transition-effect3{
    position: absolute;
    z-index: 1000000000000000;
    background-color: #e6a119;
    top: 0;
    width: 100%;
    height: 25vh;
    margin-top: 75vh;
}