.h1-contact {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: cornflowerblue;
} 

.h1-contact > h1 {
    color: #333;
    font-size: 60px;
    font-family: 'Poiret One', cursive, sans-serif;
}