/******** PARAMS **********/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******** PARAMS *********/


header {
    width: 100%;
    height: 9vh;
    // background-color: #f5efdf;
    background-color: #f8f8f8;
    font-family: 'Poiret One', cursive, sans-serif;
}

nav {
  display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2" "3";
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*** LOGO ***/

.logo {
  grid-area: "1";
  width: 100%;
  @include flex-center();
  animation: headerApparition 0.7s 4s ease-out forwards;
  transform: translateY(100px);
}


/*** </li> ***/

.links {
  font-family: 'Roboto', sans-serif;
    height: 100%;
    list-style-type: none;
    @include flex-center();
    grid-area: "2";
}
.links > .nav-item:nth-child(1) {
  animation: headerApparition 0.7s 4.1s  ease-out forwards;
  transform: translateY(150px);
}
.links > .nav-item:nth-child(2) {
  margin-left: 3rem;
  animation: headerApparition 0.7s 4.2s ease-out forwards;
  transform: translateY(150px);
}
.links > .nav-item:nth-child(3) {
  margin-left: 3rem;
  animation: headerApparition 0.7s 4.3s ease-out forwards;
  transform: translateY(150px);
}

/****** CONTACT LINK ******/

.contact-link {
  font-family: 'Roboto', sans-serif;
  grid-area: "3";
  @include flex-center();
  animation: headerApparition 0.7s 4.4s ease-out forwards;
  transform: translateY(100px);
}

.contact-link > li {
  list-style-type: none;
  transition: .5s;
}
.contact-link > li:hover {
  transform: scale(1.2);
}

.contact-item {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  transition: .4s;
}
.contact-item:hover {
  transform: scale(2);
  color: antiquewhite;
  background-color: #333;
  width: 100%;
  height: 100%;
}


              /************ <li> PARAMS </li> **********/

.nav-item {
    text-align: none;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    position: relative;
    display: block;
    cursor: pointer;
    transition: .6s;
}
  
.nav-item:before, li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #333;
  }
  
  .nav-item:before {
    left: -2.5px;
  }
  .nav-item:after {
    right: 2.5px;
    background: #333;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .nav-item:hover:before {
    background: #333;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .nav-item:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  
  .nav-item:hover {
    font-weight: bold;
  }


  .nav-item > a {
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-size: 20px;
    color: #333;
  }

  @keyframes headerApparition {
    100% {
      transform: none;
      opacity: 1;
    }
  }


  ///////////////   MEDIA QUERIES -- HEADER /////////////