
/* .cursor {
    width: 100px;
    height: 100px;
    z-index: 1000; */
    /* background: #333;
    border: 1px solid #333;
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: absolute;
} 

