

footer {
    height: 9vh;
    width: 100%;
    // background-color: #f5efdf;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
    font-family: 'Poiret One', cursive, sans-serif;
    overflow-y:hidden;
}

.footer-network {
    grid-area: "1";
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px) rotate(70deg);
    animation: footerApparition 1s 5.7s ease-out forwards;
    // background-color: chartreuse;
}
.footer-network > p {
    font-size: 30px;
    font-weight: 800;
}

.localisation {
    grid-area: "2";
}

@keyframes footerApparition {
    100% {
      transform: none;
      opacity: 1;
    }
  }




