
@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.footerscroll-container {
    font-family: 'Sawarabi Gothic', sans-serif;
    width: 100%;
    height: 15vh;
    background: yellow;
    display: grid;
    grid-template-columns: 5fr 15fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2" "3";
}

.backtotop {
    grid-area: "1";
    background: grey;
    @include midFlex();
}

.portfolio-version-scroll {
    grid-area: "2";
    // background: hotpink;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 25px;
// font-size: clamp(15px, 20vw, 30px); 
}

.copyright-scroll {
    grid-area: "3";
    // background: indianred;
    @include midFlex();
    font-size: 20px;
}