

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar-container {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    margin-left: 25%;
    height: 2px;
    width: 70%;
    background-color: #333;
}

@media screen and (max-width: 800px) {
    .bar {
        height: 2px;
        background: #333;
        margin-right: 25%;
    }
}