@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifthpro-container {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.grid-fifthpro {
    margin-right: 5%;
    width: 65%;
    height: 100%;
    @include midFlex();
    flex-direction: column;

     span {
         font-size: 80px;
         font-size: clamp(35px, 9vw, 80px);
     }
}

////// MEDAI QUERIES /////@include
@media screen and (max-width: 800px) {
    .fifthpro-container {
        @include midFlex();
    }
}