@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.H1projets {
    font-family: 'Sawarabi Gothic', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    width: 100%;

    p {
        margin: 0;
        text-align: center;
        font-size: clamp(55px, 10vw, 140px);
        overflow: hidden;
      }
      
       span {
        display: block;
       
      }
      
    
}

@media screen and (max-width:800px) {
  .H1projets > img {
    width: 80px;
  }
}
@media screen and (max-width:500px) {
  .H1projets > img {
    width: 60px;
  }
}