@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.H1projets {
    // font-family: 'Poppins', sans-serif;
    font-family: 'Sawarabi Gothic', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background: #F8F8F8;
    // background-color: aqua;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    // overflow: hidden;

    span {
        // -webkit-text-fill-color: transparent;
        // -webkit-text-stroke: 20px #333;
        font-size: 140px;
        // font-weight: 900;
        // overflow: hidden;
    }
    span:nth-child(4) {
        margin-left: 20px;
    }

    // img {
    //     object-fit: cover;
    // }
}