* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin midFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondpro-container {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.grid-secondpro {
    margin-right: 5%;
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1" "2";
}
.name-project-secondpro {
    grid-area: "1";
    display: flex;
    flex-direction: column;

     .title-secondpro {
         width: 100%;
         height: 70%;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;

           span:nth-child(1) {
               font-size: clamp(40px, 10vw, 80px);

               a {
                cursor: crosshair;
                   }
                   a:hover {
                    color: grey;
                }
           }
     }
     .time-secondpro {
         width: 100%;
         height: 30%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;

         .bold-span {
            font-weight: bold;
        }
          span {
            font-size: clamp(10px, 5vw, 25px);
          }
     }
}

.image-project-secondpro {
    grid-area: "2";
    background: #333;
    overflow: hidden;
    transition: .4s;

    &:hover {
        box-shadow: 15px 18px 0px 3px rgb(0, 0, 0);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: crosshair;
    }
}

@media screen and (max-width: 800px) {
    .secondpro-container {
        @include midFlex();
    }
    .grid-secondpro {
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 1fr;
        width: 80%;

    .challenge {
        display: none;
    }
  }
}