


.container-title-technos {
    background: #f8f8f8;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ogg", 'Sawarabi Gothic', sans-serif;

    p {
        font-size: clamp(60px, 14vw, 100px);
        overflow: hidden;
        
      }
       
         span {
          color: #333;
          display: block;
          animation: textApparition 1.5s 2.6s cubic-bezier(0.77, 0, 0.175, 1) backwards;
         }
}


@media screen and (max-width: 800px) {
  .container-title-technos {
    height: 60vh;
  }
}


/////// ------  MEDIA QUERIES  ------ ////////

@keyframes textApparition {
  from {
    transform: translateX(-830px);
  }
  to {
    transform: none;
  }
}